# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
venv/
env/
.venv/

# OS junk
.DS_Store
Thumbs.db

# Archives
*.zip
*.tar
*.tar.gz

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
